{# templates/note/listALl.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste de toutes les notes{% endblock %}

{% block titlePage %}Liste de toutes les notes{% endblock %}

{% block body %}
  {% for note in notes %}
    <div>
      <h1>{{ note.titre }}</h1>
      <p>Fait à {{ note.date|date("H:i") }}, le {{ note.date|date("d/m/Y") }}</p>
      <p>{{ note.text }}</p>
      <a href="/note/del/{{ note.id }}">Supprimer la note</a>
    </div>
  {% endfor %}
{% endblock %}
