{# templates/note/add.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier une note{% endblock %}

{% block titlePage %}Modifier une note{% endblock %}

{% block body %}
  {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="note">
      <div>
        <h3>
          {{ form_errors(form.titre) }}
          {{ form_widget(form.titre) }}
          {{ form_help(form.titre) }}
        </h3>
      </div>
      <p class="italic">Fait à {{ date|date("H:i") }} , le {{ date|date("d/m/Y") }}</p>
      <p>
        {{ form_errors(form.text) }}
        {{ form_widget(form.text) }}
        {{ form_help(form.text) }}
      </p>
    </div>

    <div class="divBottom">
      <p>Quel degré d'importance pour cette note ?</p>
      {{ form_errors(form.importance) }}
      {{ form_widget(form.importance) }}
      {{ form_help(form.importance) }}
    </div>

  {{ form_end(form) }}
  <a href="{{ url('list_all_notes') }}" id="buttonReturn" class="grey">Retour</a>
{% endblock %}
